<div class="panel-body">
  <form [formGroup]="form" (ngSubmit)="createJob()" >
    <div class="form-group col-sm-6">
      <label for="title">Titre</label>
      <input type="text" name="title" class="form-control" placeholder="Titre de votre annonce" formControlName="title" />

      <label for="company">Entreprise</label>
      <input type="text" name="company" class="form-control" placeholder="Nom de votre entreprise" formControlName="company" />

      <label for="city">Ville</label>
      <input type="text" name="city" class="form-control" placeholder="Nom de votre ville" formControlName="city" />

      <label for="zipcode">Code postal</label>
      <input type="text" name="zipcode" class="form-control" placeholder="Code postal de votre ville" formControlName="zipcode" />
    </div>
    <div class="form-group col-sm-6">
      <label for="description">Description</label>
      <textarea type="text" name="description" class="form-control" placeholder="La description de votre annonce" formControlName="description"></textarea>
    </div>
    <div class="form-group col-sm-6">
      <label for="contract">contrat</label>
      <select name="contract" formControlName="contract">
        <option *ngFor="let ct of contractTypes" [value]="ct.value">{{ct.name}}</option>
      </select>
    </div>
    <div class="form-group col-sm-12">
      <label for="salary">salaire</label>
      <input type="text"
              name="salary"
              class="small-text"
              placeholder="salaire"
              formControlName="salary">
      <select name="currency" formControlName="currency" class="currency">
        <option *ngFor="let curr of currencies" [value]="curr.value">{{curr.name}}</option>
      </select>
    </div>
    <div class="form-group col-sm-6">
      <label for="experience">expérience</label>
      <select name="experience" formControlName="experience">
        <option *ngFor="let exp of experience" [value]="exp.value">{{exp.name}}</option>
      </select>
      <label for="status">statut</label>
      <select name="status" formControlName="status">
        <option *ngFor="let status of statuses" [value]="status.value">{{status.name}}</option>
      </select>
    </div>

    <div class="form-group col-sm-12">
      <label for="area">Déplacement</label>
      <div *ngFor="let area of areas">
        <input type="radio" [id]='"btn-"+area.value' name="area" [value]="area.value" formControlName="area" >
        <label [for]='"btn-"+ area.value'>{{area.name}}</label>
      </div>
    </div>

    <div class="form-group col-sm-12">
      <label for="startdate">Date de démarrage</label>
      <input type="date" name="startdate" formControlName="startdate">
    </div>
    <div class="form-group col-sm-12">
      <button type="submit" class="btn btn-success"> créer l'annonce</button>
    </div>


      <!--<label for="contract">Contrat</label>
      <input type="text" name="contract" class="form-control" placeholder="Contrat" formControlName="contract"/>

      <label for="salary">Salaire</label>
      <input type="text" name="salary" class="form-control" placeholder="Le salaire" formControlName="salary"/>-->



  </form>


</div>
