<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" routerLink="/">{{title}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a href="#" routerLink="/jobs">Offres</a>
      </li>
      <li>
        <a href="#" routerLink="/jobs/add">Crée une offre</a>
      </li>
      <li>
        <a href="#" routerLink="/about">A propos</a>
      </li>
    </ul>
  </div>
</nav>
<!--<cc-job-add-form></cc-job-add-form>
<cc-search></cc-search>
<cc-job-list></cc-job-list>-->

<router-outlet></router-outlet>
